<% include ../partials/boilerplate %>

<div class="userContainer">
    <h1>WELCOME BACK, <%= user.username.toUpperCase(); %>! </h1>
    <h2>CHOOSE YOUR GAME</h2>
</div>

<div class="userGameContainer">
       
            <% data.forEach(item =>{  %>
          
            <form method="POST" class="trivia" action="/trivia">
                <div class="col">
                    <h3>ID</h3>
                   <%= item.game_id %>  <input type="hidden" name="game_id" value="<%= item.game_id %>">
                </div>
                <div class="col">
                    <h3>USER</h3> 
                    <%= user.username %>  <input type="hidden" name="username" value="<%= user.username %> " >
                </div>
                <div class="col">
                    <h3>CATEGORY</h3>
                    <%= item.category %>  <input type="hidden" name="category" value= "<%= item.category %>" >
                </div>
                <div class="col">
                     <h3># OF QUESTIONS</h3>
                    <%= item.number_of_questions %>  <input type="hidden" name="number_of_questions" value="<%= item.number_of_questions %>"/>
                </div>
                <div class="col">
                    <h3>DIFFICULTY</h3>
                    <%= item.difficulty %>  <input type="hidden" name="" value=<%= item.difficulty %>>
                </div>
                <div class="col">
                <h3>SELECT</h3>
                <input class="userButton" type="submit"></input> 
                </div>
              </form> 
            <div class="linkRoute">
                <a href='/game'>Add Game</a>
                <a href='/user/<%= item.game_id %>'>Delete</a>
            </div>
        <% }) %>
       
</div>
<% include ../partials/end %>