<% include ../partials/boilerplate %>
 
    <h1 id="points"></h1>
    <h1 class="score"><%= process.env.myPoints %></h1>
    <div class="triviaContainer">
        <h1>WELCOME TO TOP FACT </h1>
        <% var i =0; data.forEach(question =>{ i+=1 %>

    <div class="questionRow">
        <div> <%= question.question %></div>
    </div>
    <div class="questionRow1">
        <div  clicked="" id="correctanswer<%=i %>" class="correctAnswer"  > A: <%= question.correct_answer %></div>

        <div clicked="" id="incorrectanswer<%=i %>" class="incorrectanswer<%=i %>" >B: <%= question.incorrect_answers[0].incorrect_answer %></div>
    </div>
    <div class="questionRow2">
        <div clicked="" id="secondincorrectanswer<%=i %>"  >C: <%= question.incorrect_answers[1].incorrect_answer %></div>
        <div clicked="" id="lastanswer<%=i %>" >D: <%= question.incorrect_answers[2].incorrect_answer %></div>
    </div>
        
  
     <%   }) %>
       </div>

  
<script type="text/javascript" src="javascript/triviaGameScript.js"></script>

<% include ../partials/end %>


