<% include ../partials/boilerplate %>
  
     

    <div class="triviaContainer">
        <h1>GAME TIME!!! </h1>
        <!-- <div id="dataLength">  <%= data.length%> </h1> -->
        <% var i =0; question_data.forEach(question =>{ i+=1 %>

    <div class="questionRow">
        <div> <%= question.question  %></div>
    </div>
    <div class="questionRow1">
        <div  clicked="" id="correctanswer<%=i %>" class="correctAnswer"  > A: <%= question.correct_answer %></div>

        <div clicked="" id="incorrectanswer<%=i %>" class="incorrectanswer<%=i %>" >B: <%= question.incorrect_answers[0].incorrect_answer %></div>
    </div>
    <div class="questionRow2">
        <div clicked="" id="secondincorrectanswer<%=i %>"  >C: <%= question.incorrect_answers[1].incorrect_answer %></div>
        <div clicked="" id="lastanswer<%=i %>" >D: <%= question.incorrect_answers[2].incorrect_answer %></div>
    </div>
        
  
     <%   }) %>
<form class="gameForm" method='POST' action='/trivia/score'>

    <input type="hidden" name="points" value="" id="points"/> 
    <input type="hidden" name="gameid" value="<%= data[0].game_id %>"/>
    <input type="hidden" name="questions" value="<%= data[0].number_of_questions %>"/> 
    <input type="submit" value="GET RESULTS">
</form>
       </div>

  
<script type="text/javascript" src="javascript/triviaGameScript.js"></script>

<% include ../partials/end %>


